<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MainJspServlet</display-name>
  <servlet>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>ru.rsreu.serovtorzhkova0108.servlet.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>/controller</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>encodingfilter</filter-name>
    <filter-class>ru.rsreu.serovtorzhkova0108.filters.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingfilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>servletSecurityFilter</filter-name>
    <filter-class>ru.rsreu.serovtorzhkova0108.filters.ServletAndJSPSecurityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>servletSecurityFilter</filter-name>
    <url-pattern>/controller</url-pattern>
    <url-pattern>/jsp/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>ru.rsreu.serovtorzhkova0108.listeners.LockStatusSessionAttributeListener</listener-class>
  </listener>
  <listener>
    <listener-class>ru.rsreu.serovtorzhkova0108.listeners.TimeoutSessionListener</listener-class>
  </listener>
  <error-page>
    <error-code>404</error-code>
    <location>/jsp/error/error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.RuntimeException</exception-type>
    <location>/jsp/error/error.jsp</location>
  </error-page>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
</web-app>